<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--开机自启动-->
    <add key="AutoRun" value="false"/>
    <!--程序运行时自动开始抓取-->
    <add key="AutoGetData" value="false"/>    
    <!--抓取间隔(分钟)，建议不低于10分钟-->
    <add key="GetDataInterval" value="10"/>
    <!--程序运行后最小化-->
    <add key="Minimize" value="false"/>

    <!--数据库地址-->
    <add key="DatabaseAddress" value="mongodb://localhost:27017"/>
    <!--数据库名称-->
    <add key="DatabaseName" value="macc"/>
    
    <!--锐捷软AC的AP信息Collection名称-->
    <add key="RuijieSoftAP" value="RuijieSoftAPInfo"/>
    <!--锐捷硬AC Collection名称-->
    <add key="RuijieHardAP" value="RuijieHardAPInfo"/>
    <!--康凯AC Collection名称-->
    <add key="KangkaiAP" value="KangkaiAPInfo"/>
    <!--信锐AC Collection名称-->
    <add key="XinruiAP" value="XinruiAPInfo"/>

    <!--信锐AC https证书存放位置-->
    <add key="CertPath" value="cert\xinruiac.cer"/>
    
  </appSettings>
</configuration>